<h2>Hero List</h2>
<ul class="heroes">
  <!-- hago el loop en el elem li -->
  <!-- cuando se hace clic se ekecuta onSelected -->
  <li
    *ngFor="let hero of heroes"
    (click)="onSelected(hero)"
    [class.selected]="hero === selectedHero"
  >
    <!-- si el hero actual es igual a selectedHero se aplica la clase selected -->

    <a routerLink="/detail/{{ hero.id }}">
      <span class="badge">{{ hero.id }}</span>
      <span class="name">{{ hero.name }}</span>
    </a>
    <button class="delete" (click)="delete(hero)">x</button>
  </li>
</ul>

<div>
  <label for="new-hero">Hero name: </label>
  <input id="new-hero" #heroName />

  <!-- (click) pasa el valor del input a "add()" y limpia el input -->
  <button class="add-button" (click)="add(heroName.value); heroName.value = ''">
    Add hero
  </button>
</div>
